@import "../../../../SassVariables.scss";

.quantityContainer {
  .decreaseBtn {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
  }

  .increaseBtn {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }

  .quantityInput {
    border: none;
    padding: 0.5rem;
    text-align: center;
    width: 50px;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }
  }

  .btn {
    background-color: $secondary;
    border: none;
    color: $primary;
    padding: 0.5rem 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}
