@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

//colors
$link: #9da2ab;
$error: #7f5a83;
$primary: #81a4cd;
$secondary: #0d324d;
$shadow: #020202;

//font-family
$merriweather: "Merriweather", serif;

//font-weights
$regular: 400;
$semi: 700;
$bold: 900;
