@import "../../../../SassVariables.scss";

.card {
  border: 2px solid $secondary;
  box-shadow: 5px 5px 9px $shadow;
  display: grid;
  grid-template-columns: 275px;
  grid-template-rows: 275px 150px;
  padding: 0.5rem;

  &:hover {
    cursor: pointer;
  }

  .imgContainer {
    height: 100%;

    .img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .infoContainer {
    align-items: center;
    display: flex;
    flex-direction: column;

    .wrapper {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
      width: 100%;
    }
  }
}
