@import "../../../SassVariables.scss";

.linkList {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;

  & li {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  & li a {
    color: $primary;
    text-decoration: none;
  }
}
