@import "../../../SassVariables.scss";

.linkList {
  display: flex;
  justify-content: flex-end;
  flex-grow: 2;
  gap: 2rem;

  & li {
    display: flex;
    align-items: center;
  }

  & li a {
    color: $primary;
    text-decoration: none;
  }
}
